<app-navbar></app-navbar>
<mat-card class="productItem">
  <mat-card-header>
    <h3>{{product.name}}</h3>
  </mat-card-header>
  <mat-card-content>
    <img *ngIf="product.imagePath" src="{{product.imagePath}}"  alt="">
    <img *ngIf="!product.imagePath" src="assets/No_Image_Available.jpg" alt="">
    <h4>Price: {{product.price}}</h4>
    <button color="primary" class="buyButton" mat-raised-button *ngIf="product.available>0">Buy</button>
    <h4 *ngIf="product.available == 0">Out of stock</h4>
    <button (click)="editProduct()" mat-raised-button class="button-margin" *ngIf="loggedIn()">Edit</button>
    <button mat-raised-button class="button-margin" color="warn" *ngIf="loggedIn()">Delete</button>
  </mat-card-content>
</mat-card>
